<%- include("header.ejs") %>
<div class="body-wrapper">
    <% if (!locals.response){%>
    <h1 style="color:#212529" >Ask Your Question</h1>
    <form id="askNow" action="/ask" method="post">
         <input  id="questionPrompt" style="text-align: center;"placeholder="enter your question" class="container" type="text" name="question">
         <input type="submit" value="ask">
    </form>
    <%} else{%>
    <h1 style="color:#2d7b5c;">Answer</h1>
    <p class="mt-3"style="text-align: justify;"><%= response %> </p>
    <%}%>
</div>
  
<%-include("footer.ejs")%>